@charset "utf-8";

/* CSS Document */

html{

}

body{

	margin: 0;
	padding: 0;
	background: #ffc3a0;
	font-family: Arial, Helvetica, sans-serif;

}

*{

	margin: 0;
	padding: 0;

}

h3{
	color: #f95a3d;
	font-size: 30px;
	line-height: 34px;
	font-family: Helvetica, sans-serif;
	font-weight: normal;

}

h2{

	font-size: 30px;
	line-height: 34px;

}

p{

	font-size: 16px;
	color: #000051;
	font-family: 'Arial Narrow', Helvetica, sans-serif;
	line-height: 18px;

}
figcaption{
	font-size: 16px;
	color: #000051;
	font-family: 'Arial Narrow', Helvetica, sans-serif;
	line-height: 18px;
}

p a{

	font-size: 16px;
	color: #000051;
	font-family: 'Arial Narrow', Helvetica, sans-serif;
	line-height: 18px;

}
p a:hover{
	color: #f95a3d;
}

a{

	color: #000051
	outline: none;

}

.jumbotron{
	background: #ffc3a0;
	color: #f95a3d;
	font-family: 'Arial Narrow', Helvetica, sans-serif;
	text-align: center;
	margin: 8px;
	padding: 35px 0px 0px 15px;
}

.page-header{
	margin: 10px 0 10px 0;
	padding-bottom: 0px;
}

.page-header h3{
	font-size: 24px;
	color: #f95a3d;
	line-height: 26px;
}

.page-header a{
	font-size: 24px;
	color: #f95a3d;
	line-height: 26px;
}

.page-header a:hover{
	color: #737373;
}

.f-left{

	float:left;

}

.f-right{

	float:right;

}

.clear{

	clear: both;
	overflow: hidden;
}


.center {
 	margin-left: auto;
	margin-right: auto;
}

 .center.navbar .nav,
 .center.navbar .nav > li {
 	float:none;
 	display:inline-block;
 	*display:inline; /* ie7 fix */
 	*zoom:1; /* hasLayout ie7 trigger */
 	vertical-align: top;
 }
 .center.navbar-inner {
 	text-align:center;
 }
 .center .dropdown-menu {
 	text-align: left;
 }
 .navbar-inner {
 	margin: 0 auto;
 }
/* center */

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ff7f50;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white; /*BACKGROUND color for active*/
	background-color: #ffc3a0;
}
.dropdown-menu > li {
    color: #ff7f50;
   	text-decoration: none;
 	background-color: white;  /*change color of links in drop down here*/
   }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #ff7f50;
   	text-decoration: none;
 	background-color: #ffc3a0;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }


 .navbar-default .navbar-nav > li > a {
     background-color: #000051; /*Change active text color here*/
     color: #ffc3a0; /*Change active text color here*/
     width: auto;
 }
 
 .navbar {
     background-color: #000051; /*Change active text color here*/
     color: #000051; /*Change active text color here*/
 }
 #navbar {
 	width: auto;
 	background-color: #000051;

 }
 .thumbnails img {
		height: 80px;
		width: 80px;
		border: 4px solid #000051;
		padding: 1px;
		margin: 15px 10px 15px 0;
	}
	.thumbnails img:hover {
		border: 4px solid #000051;
		cursor:pointer;
	}

	#preview img {
		border: 4px solid #000051;
		padding: 1px;
		width: 375px;
		height:375px;
	}
	#homepic img{

		border: 4px solid #000051;
		padding: 1.5px;
		margin:5px 0px 5px 0px;
		width: 300px;
		height:300px;
	}